<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Perfil de usuario
    </title>
</head>
<body>
    <%= render 'shared/header' %>
    <h1><%= current_user.name%></h1>
    <%= render "shared/footer"%>   
</body>


</html>
