<html>
    <head>
        <title> Cadastro </title>
    </head>
    <body>
        <%= render 'shared/header' %>
       <%= render "shared/register"%>
       <%= render "shared/footer"%>
    </body>
</html>