<html>
    <head>
<style>
             .classOne{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                align-content: flex-start;
                background-color: #FFBD59;
             }
</style>
</head>
<body>
   <%= render 'shared/header' %>
 <%= content_tag :div, class: "Classtwo" do %>
<h1> Você já esta cadastrado </h1>
<h2> Por favor, vá para a pagina home!!! </h2>
 <a href="home.html"><button class="button">Página Home</button></a>
 <h2> Ou saía da conta </h2>
 <%= button_to "Sair da conta", sign_out_path, method: :delete, class: "button"%>
 <%end%>
<%= render "shared/footer"%>
</body>
</html>
