<html>
    <head>
        <title> Cadastro </title>
    </head>
    <body>
       <%= render 'shared/header2' %>
       <%= render "shared/register"%>
       <%= render "shared/footer"%>
    </body>
</html>