<html>
<head>
    <style>
        .register{
                color: yellow;
                background-color:#0C2D4D;
                height: 50px;
                width: 400px;
                font-size: 20px;
                font-family: Helvetica; 
                border-radius: 10px;
            }
    </style>
    <title> cadastro </title>
</head>
<body>
    <h1> Você está cadastrado!!! </h1>
    <a href="<%= root_path %>">
        <button class="register">Voltar para a página inicial</button>
    </a>
</body>
</html>