<style>
    .roda-pe{
        color:  black ;
        height: 110px;
        width: 100%;
    }
</style>
<footer>
    <%= content_tag :div, class: "roda-pe" do %>
            <h2> Aqui sera o roda pé </h2>
    <%end%>
</footer> 