<style>
         .classOne{
                height: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                align-content: flex-start;
                background-color:  #f49d19;
             }
        .body{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
             font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
        .button{
            color: yellow;
            background-color: #0C2D4D;
            height: 50px;
            width: 125px;
            font-size: 20px;
            font-family: Helvetica;
        }
        .insta{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 130px;
            justify-content: space-between;
            }
            .insta img{
                transition: transform 0.3s ease;
            }
            .insta:hover img{
                transform: scale(1.2); 
            }
        .roda-pe{
            color:  black ;
            background-color: #FFBD59;
            height: 110px;
            width: 2000px
             }
             .header{
                width: 15%;
                font-family: system-ui;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                }
    </style>
<header>
    <%= content_tag :div, class: "classOne" do %>
        <a href="/home">
        <%= image_tag "championlist.png", style: "width: 125px;" %>
    </a>
    <%= content_tag :div, class: "header" do %>
        <a href="/home"> Home </a>
        <a href="/champions"> Campeonatos </a>
        <%= button_to "Faça login", login_path, method: :get, class: "button" %>
        <%end%>
    <% end %>
</header>
