<html>
    <head>
        <title>Cadastro</title>
    </head>
    <body>
    <%= render 'shared/header' %>
        <div class="body">
            <h1>Pagina de cadastro de membros do time</h1>
        </div>
    <%= render "shared/footer"%>
    </body>
</html>