<!DOCTYPE html>
<html>
    <head>
        <title> ChampionList </title>
    </head>
    <body>
        <%= render 'shared/header' %>
        <%= content_tag :div, class: "body" do %>
        <%= content_tag :div, class: "body-2" do %>
        <h1> Categorias de esportes: </h1>
        <%end%>
        <button> PUBG: Battlegrounds </button>
        <% end %>
        <%= render "shared/footer"%>
    </body>
</html>