<html>
<head>
    <title>
        Times
    </title>
</head>
<body>
    <%= render 'shared/header' %>
<h1>Aqui sera a lista de times que vai ter cadastrado</h1>
<%= render "shared/footer"%>
</body>
</html>