<html>
    <head>
<style>
             
</style>
</head>
<body>
   <%= render 'shared/header' %>
   <h1>Aqui vai ser a lista de times</h1>
   <%= button_to "Equipes cadastradas", "/team/new", method: :get, class: "button2"%>
<%= render "shared/footer"%>
</body>
</html>