<!DOCTYPE html>
<html lang="en">
<head>
    <title>Champions</title>
</head>
<body>
    <%= render 'shared/header' %>
    <h1>Parte onde os campeonatos irão ser exibidos</h1>
    <%= render "shared/footer"%>
</body>
</html>