<!DOCTYPE html>
<html lang="en">
<head>
    <title>Champions</title>
</head>
<body>
    <%= render 'shared/header' %>
    <div class="lista">
    <h1>Lista de Campeonatos</h1>
    </div>      
<ul>
  <% @champions.each do |champion| %>
    <div class="campeonato1">
        <h2>
            <%=champion.name %>
        </h2>
    </div>
  <% end %>
</ul>
    <%= render "shared/footer"%>
</body>
</html>